:root {
    touch-action: pan-x pan-y;
    height: 100%
    
    --first: #b00e00;
    --second: #ffe9cc;
}

@font-face {
    font-family: 'BRICKS PERSONAL USE'; 
    src: url('brick2.ttf') format('truetype');
}

@font-face {
    font-family: '8-bit Arcade Out'; 
    src: url('arcade-out.ttf') format('truetype');
}

@font-face {
    font-family: '8-bit Arcade In'; 
    src: url('arcade-in.ttf') format('truetype');
}

h2, h3 {
    font-family: 'BRICKS PERSONAL USE', sans-serif;
    font-size: 4rem;
}

h1 {
    font-family: 'BRICKS PERSONAL USE', sans-serif;
    font-size: 6rem !important;
}

.info-text {
    font-family: 'Verdana', sans-serif;
    font-size: 1rem !important;
}

body {
    border: 0;
    margin: 0;
    padding: 0;
    background-color:#000;

    // select off
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#page {
    display: none;
    background-color: black !important;
    background-image: url('../images/page-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;
}

.container {
    height: 100vh;
}

#max-display {
    border: 3px solid gray;
}

#preloader {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100vw;
    height:100vh;  
    position:absolute;
    z-index:1;
    background:#ff0000ee;
}

.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: absolute;
    z-index:3;
    border: 4px solid #Fff;
    top: 50%;
    animation: loader 2s infinite ease;
}
  
.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #00ff00;
    animation: loader-inner 2s infinite ease-in;
}
  
@keyframes loader {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(180deg); }
    50% { transform: rotate(180deg); }
    75% { transform: rotate(360deg); }
    100% { transform: rotate(360deg); }
}
  
@keyframes loader-inner {
    0% { height: 0%; }
    25% { height: 0%; }
    50% { height: 100%; }
    75% { height: 100%; }
    100% { height: 0%; }
}

/* --- */

#display-menu {
    justify-content: center;
    align-items: center;
    max-width: 550px;
    height: 100vh;
    background-color: purple;
}

.menu-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 450px;
    height: 100vh;
    background-color: #000;
}

.menu-box {
    background-color: var(--second);
}

.breakin-logo {
    position:fixed;
    cursor: pointer;
}

#button-start, #button-info {
    text-align: center;
    cursor: pointer;
}

#button-start:hover, .button-info:hover {
    color: white !important;
}

.bg-yellow {
    background-color: #e98400;
}

.bg-green {
    background-color: #4e990b;
}

.text-green {
    color: #4e990b !important;
}

.me {
    font-family: '8-bit Arcade Out', sans-serif;
    font-size: 3rem;
    line-height:2.5rem;
    color: black;
    margin:0;
    padding:0;
    vartical-align:middle;
}

.mec {
    font-family: '8-bit Arcade In', sans-serif;
    font-size: 2.6rem !important;
    line-height:2rem;
    color: #d11408;
    text-align: center;
}

.mec2 {
    font-family: '8-bit Arcade In', sans-serif;
    font-size: 2rem !important;
    color: #d11408;
    text-align: center;
}

.mes {
    font-family: '8-bit Arcade Out', sans-serif;
    font-size: 2rem !important;
    line-height:1.5rem;
    color: black;
}

.msd {
    margin-left:5rem;
}

p {
    font-family: '8-bit Arcade Out', sans-serif;
    font-size: 2rem;
    color: black;
}

#canvas-div {
    border: 3px solid gray;
    background-color: gray;
    max-width: 985px;
}
#canvas-div:hover {
    cursor: crosshair;
}

.ball-rotate {
    position: relative;
    background-color: blue;
    animation: rotate01 6s linear infinite;
}
@keyframes rotate01 {
    0%{ transform: rotate(0deg); }
    50%{ transform: rotate(180deg); }
    100%{ transform: rotate(360deg); }
}

.footer {
    background-color: gray;
}

.sound-on {
    width: 100%;
    background-image: url("images/sound_icon-on.svg");
    color: white;
    background-size: cover;
    background-color: #999999;
    border-radius: 5px;
}

#volume-icon {
    width: 2rem;
    height: 2rem;
}
#volume-icon:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.animated-score {
    color: red;
}

#gift-life-icon {
    width: 1rem;
    height: 1rem;
    vertical-align: middle;
}

input[type="radio"],
input[type="checkbox"] {
  width: 1.5em;
  height: 1.5rem;
  accent-color: green;
}

.score-size {
    font-size:3rem !important;
}

#button-endgame, .button-info, .button-start {
    cursor: pointer;
}

#button-endgame:hover, .button-start:hover {
    cursor: pointer;
    color: whire !important;
}

.gift-icon{
    width: 35px;
    margin-right: 10px;
}

.vertical {
    vertical-align: baseline;
}