body{
    border: 0;
    margin: 0;
    padding: 0;
    background-color:#000;

    // select off
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#display-menu {
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: purple;
}

.menu-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #000c;
}

#button-start {
    text-align: center;
    cursor: pointer;
    width: 20vw;
    height: 3vh;
    min-height: 1.7rem;
}

#canvas-div {
    border: 1px solid black;
    background-color: gray;
    max-width: 985px;
}

.ball-rotate {
    position: relative;
    background-color: blue;
    animation: rotate01 6s linear infinite;
}

#volume-icon {
    width: 3rem;
    height: 3rem;
}
#volume-icon:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.sound-on {
    width: 100%;
    background-image: url("images/sound_icon-on.svg");
    color: white;
    background-size: cover;
    background-color: green;
}

@keyframes rotate01 {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}